
.student-dash .dash-std-main-content {
    position: relative;
    padding-top: 55px;
    width: 87%;
    margin-left: 13%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.dash-std-main-content p, span, h1 {
    margin: 0;
    padding: 0;
}

.prog-track {
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 3px;
    padding-right: 20px;
    top: 100px;
    left: 54px;
    width: 850px;
    height: 74px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    background-color: #EFF8FF;
} 

.prog-track .step {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.prog-track .step div {
    /* padding: 2px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 17px;
    background-color: #ffffff;
    background-color: red;
}

.shape {
    position: absolute;
    top: 105px;
    right: 347px;
}

.shape div {
    height: 30px;
    width: 120px;
    background-color: #FFFFFF;
    position: relative;
    /* border: 1px solid black; */
}

.shape div:nth-of-type(1) {
    top: -10px;
    /* border-top: 20px solid black; */
    transform: rotate(30deg);
}
.shape div:nth-of-type(2) {
    transform: rotate(-30deg);
    bottom: -10px;
    border-bottom-left-radius: 70%;
}

.sep {
    width: 35px;
    height: 100%;
    position: relative;
    left: -5px;
}

.dash-std-main-content .content-wrapper {
    /* height: 80%; */
    margin-top: 140px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    /* grid-template-rows: 60% 40%; */
}

.top-content {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 43px;
}



/* Top left content */
/* .top-content .top-left {
} */



.prof-content {
    width: 100%;
    margin-bottom: 52px;
    padding-top: 17px;
    background-color: #EFF8FF;
    border-radius: 9.26708px;
    /* width: 746px; */
    /* height: 257px; */
}

.prof-cont-wrapper {
    width: 94%;
    margin: 0 auto;
}

.prof-cont-wrapper p {
    margin-bottom: 22px;
    /* width: 517px; */
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.prof-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 14px;
}

.prof-nav button {
    width: 153px;
    height: 33px;
    color: #FF0000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #FF0000;
    background-color: #EFF8FF;
}

.prof-nav button:last-child {
    background-color: #21B573;
    border: none;
    color: #fff;
}

.prof-div h1 {
    /* width: 201px; */
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.prof-div .prog-bar {
    height: 40px;
    width: 40px;
    background-color: #fff;
}

.prof-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 18px;
}

.prof-hr-line {
    margin-bottom: 30px;
    width: 100%;
    height: 1px;
    margin-top: 0;
}

.prof-content .complete {
    margin-bottom: 15px;
    width: 223px;
    height: 50px;
    background: #21B573;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    border: none;
}

.eval-wrapper {
    width: 100%;
    /* box-sizing: border-box; */
}

.eval-wrapper .eval-contain {
    width: 100%;
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 47px;
    background: #F8FCFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.eval-wrapper .eval-contain .eval {
   width: 90%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;



}

.eval-wrapper .eval p {
    width: 185px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* margin-left: 25px; */
}

.eval-wrapper .eval span {
    height: 16px;
    background-color: rgba(0, 0, 0, 0.07);
    color: black;
    height: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    padding: 2px 10px;
}

.eval-wrapper .eval .down-ar {
    /* margin-right: 17px; */
    height: 13px;
    width: 13px;
}

.top-left-wrapper .eligible {
    width: 223px;
    height: 50px;
    background: #0D2C58;
    border-radius: 10px;
    border: none;
    margin-top: 34px;
    margin-bottom: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* Top right content */
.top-right-wrapper {
    height: 100%;
    width: 100%;
}

.top-right-wrapper .above {
    height: 192px;
    background: #EFF8FF;
    border-radius: 9.26708px;
    margin-bottom: 7px;
}

.top-right-wrapper .above p {
    height: 19px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 14px;
    padding-top: 23px;
}

.top-right-wrapper .above div {
    width: 235px;
    height: 36px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.top-right-wrapper .above button {
    width: 286px;
    height: 40px;
    background: #21B573;
    border-radius: 10px;
    text-align: center;
    margin-top: 24px;
    margin-left: 15px;
    margin: 24px 10% 0;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.top-right-wrapper .below {
    height: 354px;
    background: #EFF8FF;
    border-radius: 10px;
}

.top-right-wrapper .below .gather{
    width: 148px;
    height: 150px;
    margin: 23px auto 17px;
}

.top-right-wrapper .below p {
    width: 280px;
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.top-right-wrapper .below button {
    width: 290px;
    height: 50px;
    background: #0D2C58;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 10% 0;
    line-height: 24px;
    color: #FFFFFF;
}

/* Bottom content */
.bottom-content {
    width: 1230px;
    background: #EFF8FF;
    border-radius: 10px;
    margin-bottom: 62px;
}

.bottom-content .document {
    /* width: 1135px; */
    height: 55px;
    display: flex;
    align-items: center;
    /* background: #EFF8FF; */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.bottom-content .document span {
    height: 24px;
    font-family: 'Roboto';
    margin-left: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.bottom-content .below-doc {
    height: 341px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.below-doc-right {
    display: flex;
    align-items: center;
}

.below-doc-right .single-person {
    width: 458px;
    height: 272px;
}

.below-doc-left p {
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-left: 26px;
}

.below-doc-left p:first-child {
    margin-top: 29px;
    margin-bottom: 13px;
}

.below-doc-left p:nth-child(2) {
    margin-bottom: 41px;
}

.below-doc-left button {
    margin-left: 26px;
    width: 223px;
    height: 50px;
    background: #0D2C58;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: none;
    margin-bottom: 44px;
    color: #FFFFFF;
}

.below-doc-left .please {
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FF0000;
}