.nav-dash {
    width: 87%;
    height: 55px;
    margin-left: 13%;
    background-color: #0D2C58;
    color: #fff;
    position: fixed;
    display: flex;
    z-index: 2;
}

.nav-dash img {
    height: 100%;
    width: 100%;
}

.nav-wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.bell-icon {
    height: 20px;
    width: 20px;
}

.cj-icon {
    height: 25px;
    width: 25px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.nav-dash .drp-dwn {
    margin-right: 25px;
    height: 15px;
    width: 15px;
}


